.icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.3;

  @media (max-width: 375px) {
    width: 20px;
    height: 20px;
  }
}

.icon:hover {
  cursor: pointer;
  opacity: 0.6;
}
