.nav_bar {
  border-block-start: 2px solid hsl(0, 0%, 85%);
}

.wrapper {
  width: 100%;
  height: auto;
  margin-block: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
  grid-gap: 50px;
}
