.nav_bar {
  display: flex;
  justify-content: center;
  padding-block: 20px;
}

.link_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: hsl(0, 0%, 60%);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.link:hover {
  color: hsl(0, 0%, 30%);
  font-weight: bold;
}

.link_active {
  color: hsl(0, 0%, 30%);
  font-weight: bold;
}
