.nav_bar {
  display: flex;
  justify-content: center;
}

.link_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.link {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: hsl(0, 0%, 40%);
  text-decoration: none;
}
