.image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 50px;
  height: 70vh;
  width: 80vw;
}

.image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
