.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 65%;
  margin-block: 50px;
  gap: 50px;

  @media (max-width: 650px) {
    width: 100%;
  }
}

.text_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.section_title {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin-block-end: 10px;

  @media (max-width: 650px) {
    font-size: 19px;
  }
}

.text_year {
  font-weight: bold;
  font-size: 25px;
  margin-block-start: 10px;

  @media (max-width: 650px) {
    font-size: 19px;
  }
}

.text {
  font-size: 25px;

  @media (max-width: 650px) {
    font-size: 16px;
  }
}
